<launch>

  <node
    pkg="rosbag"
    type="record"
    name="clhero_record"
    output="screen"
    args="
        -o $(find image_projection_demo)/bags/
        /rosout
        /center/camera_info
        /center/extended_camera_info
        /center/image_raw
        /center/image_raw/compressed
        /center/image_raw/compressed/parameter_descriptions
        /center/image_raw/compressed/parameter_updates
        /center/image_raw/compressedDepth
        /center/image_raw/compressedDepth/parameter_descriptions
        /center/image_raw/compressedDepth/parameter_updates
        /center/image_raw/theora
        /center/image_raw/theora/parameter_descriptions
        /center/image_raw/theora/parameter_updates
        /center/parameter_descriptions
        /center/parameter_updates
        /joint_states
        /left/camera_info
        /left/extended_camera_info
        /left/image_raw
        /left/image_raw/compressed
        /left/image_raw/compressed/parameter_descriptions
        /left/image_raw/compressed/parameter_updates
        /left/image_raw/compressedDepth
        /left/image_raw/compressedDepth/parameter_descriptions
        /left/image_raw/compressedDepth/parameter_updates
        /left/image_raw/theora
        /left/image_raw/theora/parameter_descriptions
        /left/image_raw/theora/parameter_updates
        /left/parameter_descriptions
        /left/parameter_updates
        /mercator_projection
        /mercator_projection/compressed
        /mercator_projection/compressed/parameter_descriptions
        /mercator_projection/compressed/parameter_updates
        /mercator_projection/compressedDepth
        /mercator_projection/compressedDepth/parameter_descriptions
        /mercator_projection/compressedDepth/parameter_updates
        /mercator_projection/parameter_descriptions
        /mercator_projection/parameter_updates
        /mercator_projection/projection_parameters/parameter_descriptions
        /mercator_projection/projection_parameters/parameter_updates
        /mercator_projection/set_pose
        /mercator_projection/theora
        /mercator_projection/theora/parameter_descriptions
        /mercator_projection/theora/parameter_updates
        /pinhole_front/camera_info
        /pinhole_front/image_rect_color
        /pinhole_front/image_rect_color/compressed
        /pinhole_front/image_rect_color/compressed/parameter_descriptions
        /pinhole_front/image_rect_color/compressed/parameter_updates
        /pinhole_front/image_rect_color/compressedDepth
        /pinhole_front/image_rect_color/compressedDepth/parameter_descriptions
        /pinhole_front/image_rect_color/compressedDepth/parameter_updates
        /pinhole_front/image_rect_color/theora
        /pinhole_front/image_rect_color/theora/parameter_descriptions
        /pinhole_front/image_rect_color/theora/parameter_updates
        /pinhole_front/parameter_descriptions
        /pinhole_front/parameter_updates
        /pinhole_front/projection_parameters/parameter_descriptions
        /pinhole_front/projection_parameters/parameter_updates
        /pinhole_front/set_pose
        /right/camera_info
        /right/extended_camera_info
        /right/image_raw
        /right/image_raw/compressed
        /right/image_raw/compressed/parameter_descriptions
        /right/image_raw/compressed/parameter_updates
        /right/image_raw/compressedDepth
        /right/image_raw/compressedDepth/parameter_descriptions
        /right/image_raw/compressedDepth/parameter_updates
        /right/image_raw/theora
        /right/image_raw/theora/parameter_descriptions
        /right/image_raw/theora/parameter_updates
        /right/parameter_descriptions
        /right/parameter_updates
        /rosout
        /rosout_agg
        /tf
    "/>

</launch>